#ignore node modules folder
node_modules

#ignore .env file
.env

#ingore test files
test.*

#ignore all .js files
*.js
!test.js
!api/api.js
!api/models/diddocument.js
!api/models/documentmetadata.js

#ignore universal resolver
/uni-resolver-driver-did-sov